@import url("https://fonts.googleapis.com/css2?family=Finger+Paint&display=swap");

.App {
  text-align: center;
  background-color: #f3b18c;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.text {
  font-size: 44px;
  font-family: "Finger Paint", cursive;
  color: #0026ed;
}

